#head{
    width: 100%;
    position: sticky;
    top: 0;
    z-index:10000000;
    /* border: 1px solid rebeccapurple; */
    background-color: #ffffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#head_1{
    width: 50%;
    display:flex;
    gap: 20px;
    /* justify-content: center;
    align-self:center; */
}
#head_1 div{
    color: #333333;
    padding:1px 15px;
    cursor:context-menu;
}
#head_1 img{
    width: 60px;
    display:flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: 15px;

}
#head_2{
    width: 50%;
    display:flex;
    gap: 20px;
}
#head_1>div:hover,#act{
    background-color:black;
    color: white;
}
#a,#b,#d,#e{
    display:none;
}
/* #a,#b,#d,#e:checked{
    right: 0;

} */
#a,#b,#d,#e{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    cursor: all-scroll;
    overflow:scroll;
    position: absolute;
    
    left: 0;
    width: 700px;
    height: 600px;
    cursor: scroll;
    overflow:scroll;
    top: 6rem;
    background-color: white;
    background-repeat: no-repeat;
}
#a p,#b p,#d p,#e p{
    display: block;
    margin-top: -20px;
    color: #020d206e;
    font-size: 16px;
    
}
#head_1>div a{
    text-decoration: none;
    display: block;
    padding-bottom: 30px;
}
#e h4{
    font-weight: 500;
}
#head_1>div>h4{
    display: inline-block;
}
.checkbtnr{
    float: right;
    display: none;
    font-size: 30px;
}
.checkr{
    display: none;
}
@media screen and (max-width:858px) {
    .checkbtnr{
        display: block;
        margin: auto;
    }
    /* .checkr{
        display: block;
    } */
    /* #head_1>div>h4{
        display: none;
    } */
    #head_2{
        display: none;
    }
    #head_1>div{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: aquamarine;
        top: 80px;
        left: -110%;
        text-align: center;
        transition: all .5s;
        /* display: block; */
    }
    #head_1>div>h4{
        display: block;
    }
    #head_1>div>h4{
        display: block;
        margin: 30px 0;
        line-height: 20px;
    }
    .checkr:checked~div h4{
        left: 0;
        border: 1px solid;
        /* display: block; */
    }
}
    

